body {
    background-color: rgb(250, 247, 247);
    margin: 0px;
    padding: 0px;
    justify-content: center;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    padding-right: 20px;
}

.logo {
    display: flex;
    width: 100%;
    height: 250px;
    padding-top: 20px;
}

h1 {
    padding-top: 60px;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    width: 70%;
    height: 800px;
    justify-content: center;
    text-align: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    font-size: 1.6rem;
}

th {
    background-color: grey;
}

td,
th {
    border: 2px solid grey;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

footer {
    width: 100%;
    height: 200px;
    background-color: grey;
}

footer p {
    padding: 40px;
    color: white;
}

a {
    text-decoration: none;
    font-size: 1.6rem;
}

a:hover {
    height: 60px;
    background-color: khaki;
}

.ajouter {
    height: 50px;
    margin-left: 30%;
}

input,
label,
textarea {
    font-size: 1.6rem;
    letter-spacing: 1px;
}

textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.5rem;
}